{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="text-center">
  <h1 class="text-center my-5">Digital Certificates Trust Verifier</h1>

  <form method="post">
      {% csrf_token %}
      {{ form }}
      <button id="verificar" type="submit" class="btn btn-primary">Verificar</button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Cargar en lote</button>
  </form>

  <form enctype="multipart/form-data" action={% url 'upload_file' %} method="post">
  <!-- Modal -->
  {% csrf_token %}
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Subir archivo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input accept=".txt" name="file" type="file" class="form-control" id="customFile" required/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Verificar</button>
        </div>
      </div>
    </div>
  </div>
  </form>

  <div>
    {% if messages %}
      {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show mt-2" style="margin-left: 19.5%; margin-right: 19.5%;" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
    {% endif %}
      <table class="table table-borderless my-3 mx-auto" style="width: 90%;">
          <tr>
              <th></th>
              {% if lista_browsers %}
                <th>{{lista_browsers.0 }} <img src="https://cdn.vox-cdn.com/thumbor/S_6JSDGmzwOkQ-b_do-S6ZRG-Ko=/0x0:1980x1320/1400x1400/filters:focal(990x660:991x661)/cdn.vox-cdn.com/uploads/chorus_asset/file/19341372/microsoftedgenewlogo.jpg" height="55" width="55" > </th >
                <th>{{lista_browsers.1 }} <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Google_Chrome_icon_%28February_2022%29.svg/2048px-Google_Chrome_icon_%28February_2022%29.svg.png" height="55" width="55" ></th >
                <th>{{lista_browsers.2 }} <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Firefox_logo%2C_2019.svg/1971px-Firefox_logo%2C_2019.svg.png" height="55" width="55" ></th >
              {% endif %}
          </tr>
          {% for url, lista_browsers_colors, id in results %}
              <tr>
                  <td class="text-start"><a href="{{ url }}" target="_blank">{{url}}</a></td>

                  {% for browser_colors in lista_browsers_colors %}
                  <td>
                    {% if browser_colors == 0 %}
                      <svg height="55" width="55">
                      <circle cx="27" cy="27" r="25" stroke="black" stroke-width="3" fill="white"/>
                      </svg>

                      <svg height="55" width="55">
                      <circle cx="27" cy="27" r="25" stroke="black" stroke-width="3" fill="white"/>
                      </svg>

                      <svg height="55" width="55">
                      <circle cx="27" cy="27" r="25" stroke="black" stroke-width="3" fill="white"/>
                      </svg>
                    {% elif browser_colors == 1 %}
                      <svg height="55" width="55">
                      <circle cx="27" cy="27" r="25" stroke="black" stroke-width="3" fill="red"/>
                      <image href="https://image.similarpng.com/very-thumbnail/2021/06/Warning-icon.-The-attention-icon.png" x="0" y="0" height="55" width="55"/>
                      </svg>

                      <svg height="55" width="55">
                      <circle cx="27" cy="27" r="25" stroke="black" stroke-width="3" fill="white"/>
                      </svg>

                      <svg height="55" width="55">
                        <circle cx="27" cy="27" r="25" stroke="black" stroke-width="3" fill="white"/>


                    </svg>
                    {% elif browser_colors == 2 %}
                      <svg height="55" width="55">
                      <circle cx="27" cy="27" r="25" stroke="black" stroke-width="3" fill="white"/>
                      </svg>

                      <svg height="55" width="55">
                      <circle cx="27" cy="27" r="25" stroke="black" stroke-width="3" fill="yellow"/>
                      <image href="https://cdn-icons-png.flaticon.com/512/6897/6897039.png" x="0" y="0" height="55" width="55"/>
                      </svg>

                      <svg height="55" width="55">
                      <circle cx="27" cy="27" r="25" stroke="black" stroke-width="3" fill="white"/>
                      </svg>
                    {% elif browser_colors == 3 %}
                    <svg height="55" width="55">
                      <circle cx="27" cy="27" r="25" stroke="black" stroke-width="3" fill="white"/>
                      </svg>

                      <svg height="55" width="55">
                      <circle cx="27" cy="27" r="25" stroke="black" stroke-width="3" fill="white"/>
                      </svg>

                      <svg height="55" width="55">
                      <circle cx="27" cy="27" r="25" stroke="black" stroke-width="3" fill="white"/>
                      <image href="https://cdn-icons-png.flaticon.com/512/61/61457.png" x="2" y="5" height="40" width="50"/>
                      </svg>
                    {% endif %}
                  </td>
                  {% endfor %}

                  {% if id %}
                    <td class="text-start"><a class="btn btn-primary" href="{% url 'certificate_chain' id %}" role="button">Ver cadena de certificado</a></td>
                  {% endif %}

              </tr>
          {% endfor %}
      </table>
  </div>
  {% if display %}
      <button class="btn btn-primary mb-5"><a href="{% url 'clean' %}" style="text-decoration: none; color: aliceblue;">Limpiar todo</a></button>
  {% endif %}

  <footer>
    <div class="container p-3">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <a class="link" href="{% url 'mozilla_trust_Store' %}">Ver Mozilla Trust Store</a>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <a class="link" href="{% url 'microsoft_trust_Store' %}">Ver Microsoft Trust Store</a>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <a class="link" href="{% url 'google_trust_Store' %}">Ver Google Trust Store</a>
        </div>
      </div>
    </div>
  </footer>
</div>
{% endblock %}
