{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1 class="text-center my-5">Digital Certificates Trust Verifier</h1>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <button id="verificar" type="submit" class="btn btn-primary">Verificar</button>
    <button type="submit" class="btn btn-primary">Cargar en lote</button>
</form>


<div>
  {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
  {% endif %}
    <table class="table table-borderless my-5">
        <tr>
            <th></th>
            {% for browser in lista_browsers %}
                <th>{{browser}}</th>
            {% endfor %}
        </tr>
        {% for url, lista_browsers_colors in results %}
            <tr>
                <td class="align-middle">{{url}}</td>

                {% for browser_colors in lista_browsers_colors %}
                <td>
                    {% for color in browser_colors%}
                        <svg height="55" width="55">
                        <circle cx="27" cy="27" r="25" stroke="black" stroke-width="3" fill={{color}} />
                        </svg>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% if display %}
    <button class="btn btn-primary mb-5"><a href="{% url 'clean' %}" style="text-decoration: none; color: aliceblue;">Limpiar todo</a></button>
{% endif %}

<footer>
  <div class="container p-3">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <a class="link" href="{% url 'mozilla_trust_Store' %}">Ver Mozilla Trust Store</a>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <a class="link" href="{% url 'microsoft_trust_Store' %}">Ver Microsoft Trust Store</a>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <a class="link" href="{% url 'google_trust_Store' %}">Ver Google Trust Store</a>
      </div>
    </div>
  </div>
</footer>
{% endblock %}